<section class="contain">
  <shared-header parent="vm"></shared-header>
  <figure id="chart"></figure>
  <footer ng-show="!vm.isLoading">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true" ng-click="vm.page(-1)">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" ng-click="vm.page(-1)">
          {{(vm.currentPage - 1 <= 0 ? vm.totalPages : vm.currentPage-1)}}</a>
        </li>
        <li class="page-item">
          <a class="page-link">{{vm.currentPage}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" ng-click="vm.page(1)">
            {{vm.currentPage + 1 > vm.totalPages ? 1:vm.currentPage + 1 }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true" ng-click="vm.page(1)">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>

  </footer>
</section>